<div class="container game">
    <score ng-click="close()"
           winner="round.winner"
           score="score"
           player1="player1"
           player2="player2">
    </score>
    <div class="col-sm-6 field-player-1">
        <auto-gesture-picker gesture="player1.gesture" state="state"></auto-gesture-picker>
    </div>
    <div class="col-sm-6 field-player-2">
        <auto-gesture-picker gesture="player2.gesture" state="state"></auto-gesture-picker>
    </div>
    <div class="col-sm-12">
        <a href="" class="btn btn-primary" ng-click="play()">Play</a>
    </div>
</div>

