<div class="container game">
    <score ng-click="close()"
           winner="round.winner"
           score="score"
           player1="player1"
           player2="player2">
    </score>

    <gesture-picker class="col-sm-5 col-lg-offset-1 col-lg-4"
                    player="player1"
                    state="state">
    </gesture-picker>

    <div class="col-sm-2 col-lg-1 game-field field-center">
        <div class="banner-field">
            <a href="" class="btn btn-primary" ng-click="play()">Play</a>
        </div>
    </div>

    <gesture-picker class="col-sm-5 col-lg-4"
                    player="player2"
                    state="state">
    </gesture-picker>
</div>

