.game {

  position: relative;

  padding: 0;

  .game-overlay {
    position: absolute;
    height: 100%;
    width: 100%;

    @include display-flex;
    @include flex-direction(row);
    @include align-items(center);
    @include justify-content(center);
    @include align-content(stretch);

    z-index: 100;
    opacity: .8;
    background-color: white;
    .game-banner {
      opacity: 1;
    }
  }

  text-align: center;
  .game-score {
    background-color: darkgray;
  }

  .game-field {

    $field-border: 1px solid #bababa;

    &:first-child {
      border-right: $field-border;
    }

    @media (max-width: '768px') {
      &:first-child {
        border-right: none;
        border-bottom: $field-border;
      }
    }
  }

  @mixin gesture-pop() {
    @include transition-duration(.2s);
    @include transition-timing-function(ease-in);
    @include transition-property(transform);

    $scale-factor: 1.2;
    @include transform(scale(1.2, 1.2));
  }

  .gesture-highlight {
    @include gesture-pop();
  }

  .gesture-no-highlight {
    @include filter(grayscale(100%));
  }

  .gesture-icon {
  }
}