.game {
    text-align: center;
  .game-score {
    background-color: darkgray;
  }

  .game-field {

    $field-border: 1px solid #bababa;

    &:first-child {
      border-right: $field-border;
    }

    @media (max-width: '768px'){
      &:first-child {
        border-right: none;
        border-bottom: $field-border;
      }
    }
  }

  .gesture-icon {

    @include transition-duration(.1s);
    @include transition-timing-function(ease-in);
    @include transition-property("transform");

    &:hover {
      @include transform(scale(1.2, 1.2));
    }
  }
}